body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Prompt', sans-serif;
    user-select: none;
}
input, button {
    font-family: 'Prompt', sans-serif;
}

section {
    background-color: rgba(255, 22, 22, 0);
    width: 100%;
    height: 40rem;
}


section .post-container {
    background-color: rgba(170, 170, 170, 0.199);
    width: 50rem;
    height: 40rem;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
}
@media (max-width: 1400px) {
    section .post-container {
        width: 40rem;
        height: 30rem;
    }
}
@media (max-width: 800px) {
    section .post-container {
        width: 30rem;
        height: 40rem;
    }
}
@media (max-width: 390px) {
    section .post-container {
        width: 90vw;
        height: 180vw;
    }
}


section .post-container .image-container img {
    width: 25rem;
    height: 25rem;
    border-radius: 30px;
    position: absolute;
    top: 5vw;
    left: 2vw;


}

@media (max-width: 1400px) {
    section .post-container .image-container img {
        width: 15rem;
        height: 15rem;
        
    }
}

@media (max-width: 800px) {
    section .post-container .image-container img {
        width: 20rem;
        height: 20rem;
        left: 10vw;
    }
}
@media (max-width: 390px) {
    section .post-container .image-container img {
        width: 55vw;
        height: 55vw;

        
    }
}
.features-container {
    background-color: rgb(201, 201, 201);
    width: 10rem;
    height: 3rem;
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
}


@media (max-width: 1400px) {
    .features-container {
        width: 9rem;
        height: 3rem;
        gap: 1vw;
        
    }
}
@media (max-width: 390px) {
    .features-container {
        width: 30vw;
        height: 10vw;
        left: 5vw;
    }
}
.features-container .like-button img{
    width: 2rem;
    filter: brightness(100);
    
}
@media (max-width: 390px) {
    .features-container .like-button img{
        width: 7vw;
 
    }
}

.features-container .like-button img.active {
    filter: none;
}
.features-container .save-button img{
    width: 1.7rem;

}
@media (max-width: 390px) {
    .features-container .save-button img{
        width: 7vw;
 
    }
}
.features-container .share-button img{
    width: 1.7rem;
    
}
@media (max-width: 390px) {
    .features-container .share-button img{
        width: 7vw;
 
    }
}
.image-like.active {
    filter: none;
}

.features-container .like-button{
    border: none;
}
.features-container .save-button{
    border: none;
}
.features-container .share-button{
    border: none;
}

header .bottom-navbar .post-picture {
    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
    width: 30vw;
    height: 3rem;
    border-radius: 30px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(255,255,255,0.71); 
box-shadow: 0px 0px 9px 5px rgba(255,255,255,0.71);
}
header .bottom-navbar .post-picture button {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
header .bottom-navbar .post-picture button:hover {
    transform: scale(1.1);
}
header .bottom-navbar .post-picture img {
    width: 1rem;
    filter: invert();
}


* {
    background-color: rgba(0, 255, 255, 0);
}

.comment-section {
    background-color: rgba(40, 97, 255, 0);
    width: 25rem;
    position: absolute;
    right: -1vw;
    height: 30rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 96px;
}
@media (max-width: 1400px) {
    .comment-section {
        width: 25rem;
        height: 17rem;
        
    }
}
@media (max-width: 800px) {
    .comment-section {
        width: 25rem;
        height: 10rem;
        top: 61vw;
        right: 9vw;
    }
}
@media (max-width: 390px) {
    .comment-section {
        width: 85vw;
        height: 80vw;
        top: 69vw;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 255, 255, 0);
    }
}
.comment-section .comment-area {
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 25rem;
    overflow-x: auto;
    position: relative;

    top: -25px;
    border-radius: 20px;
}
@media (max-width: 390px) {
    .comment-section .comment-area{
        width: 85vw;
        
        
        left: 0;
        right: 0;
        margin: auto;
        
    }
}
.comment-section .comment-area::-webkit-scrollbar{
    display: none;
}

.comment-section input {
    width: 19rem;
    height: 1.8rem;
    border: 2px solid black;
    position: relative;

    border-radius: 20px;
    top: -20px;


}
@media (max-width: 390px) {
    .comment-section input{
        width: 80vw;
        
        
        left: 0;
        right: 0;
        margin: auto;
        
    }
}

.caption-container {
    position: absolute;
    left: 2vw;
    bottom: 8vw;
    background-color: white;
    height: 1.9rem;
    width: 25rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    word-break: break-all;
    
    
}
@media (max-width: 1400px) {
    .caption-container {
        width: 15rem;
        height: 1.9rem;
        bottom: 13vw;
    }
}

@media (max-width: 800px) {
    .caption-container {
        width: 15rem;
        height: 1.9rem;
        
        left: 10vw;
    }
}

@media (max-width: 390px) {
    .caption-container {
        bottom: 15vw;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.caption-container p {
    position: absolute;
    left: 10px;
}
.creating-post-container {
    position: absolute;
    width: 40rem;
    height: 35rem;
    background-color: rgb(255, 255, 255);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 6rem;
    visibility: hidden;
    border: 2px solid black;
}
@media (max-width: 390px) {
    .creating-post-container {
        width: 80vw;
        top: 10vw;
    }
}
.creating-post-container .image-container .labelInput {
    position: absolute;
    top: 20rem;
    left: 23rem;
    border: none;
    background-color: rgb(179, 179, 179);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
@media (max-width: 390px) {
    .creating-post-container .image-container .labelInput {
        
        left: 10vw;
        top: 70vw;
    }
}
.creating-post-container .image-container img {
    width: 20rem;
    height: 20rem;
    border-radius: 25px;
    position: absolute;
    left: 2rem;
    top: 2rem;
}
@media (max-width: 390px) {
    .creating-post-container .image-container img {
        width: 55vw;
        height: 55vw;
        border: 2px solid black;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.creating-post-container .caption-create input {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    position: absolute;
    top: 23rem;
    left: 2rem;
    height: 2rem;
    width: 20rem;
    border: none;
    border-radius: 5px;
}
@media (max-width: 390px) {
    .creating-post-container .caption-create input {
        width: 70vw;
        left: 0;
        right: 0;
        margin: auto;
        top: 90vw;
        
    }
}

.creating-post-container .post-create-button {
    width: 9rem;
    background-color: rgba(0, 255, 255, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
}
.creating-post-container .post-create-button button {
    border-radius: 10px;
}
.show {
    visibility:visible ;
}
.hide {
    visibility: hidden;
}

.container {
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 42rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-x: auto;
    gap: 4rem;
    
}

.text {
    /* border: 2px solid black; */
    height: auto;
    border-radius: 15px;
    word-break: break-all;
    padding: 10px;
    margin: 5px;
    background-color: rgb(221, 221, 221);
    color: rgb(49, 49, 49);
}

.feature-menu{
    background-color: rgb(207, 207, 207);
    width: 10rem;
    height: 3rem;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px) {
    .feature-menu {
        width: 9rem;
        height: 1.9rem;
        bottom: 13vw;
    }
}
@media (max-width: 800px) {
    .feature-menu {
        width: 5rem;
        height: 1.9rem;
        top: 860px;
    }
}
@media (max-width: 390px) {
    .feature-menu{
        top: 200vw;
        gap: 1vw;
    }
}

.feature-menu .like-list img{
    width: 2rem;
    transition: 0.4s;
}
@media (max-width: 390px) {
    .feature-menu .like-list img{
        width: 9vw;
    }
}
.feature-menu .like-list img:hover {
    transform: translateY(-10px);
}
.feature-menu .save-list img{
    width: 1.6rem;
    transition: 0.4s;
}
@media (max-width: 390px) {
    .feature-menu .save-list img{
        width: 6vw;
    }
}
.feature-menu .save-list img:hover {
    transform: translateY(-10px);
}
.start-screen {
    width: 50rem;
    height: 30rem;
    background-color: rgb(243, 243, 243);
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 5rem;
    border-radius: 50px;
    font-size: 4rem;
    text-align: center;
}

@media (max-width: 390px) {
    .start-screen {
        width: 80vw;
        font-size: 10vw;
    }
}
.start-screen img {
    position: absolute;
    width: 15rem;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5rem;
    filter: opacity(60%);
}

@media (max-width: 390px) {
    .start-screen img {
        width: 60vw;
        bottom: 40vw;
    }
}
.start-screen p {
    filter: opacity(60%);
}

.delete-container {
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
} 
.delete-container:hover {
    transform: translateY(-10px);
}
.delete-container button {
    border: none;

}


.delete-container .delete-button img {
    width: 2rem;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a6a6a6 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
